# Flutter/Dart/Pub related
build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Android related
android/app/build/
*.apk
*.bin

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks
ios/Pods
ios/Runner.xcworkspace
