# Flutter/Dart/Pub related
**/build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android generated
android/app/build/
android/build/
android/.gradle/

# iOS generated
ios/Flutter/
ios/Runner.xcworkspace/
ios/Pods/
ios/build/

# MacOS generated
macos/Flutter/
macos/Runner.xcworkspace/
macos/Pods/
macos/build/

# APK and large files
*.apk
*.ipa
*.bin

# VS Code settings
.vscode/

# Xcode settings
xcuserdata/
